{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
  <h1>
    TODO List
    <a href="{% url "to_do_manager:task-create" %}" class="btn btn-primary float-right m-2">
      Add task
    </a>
  </h1>
  {% if object_list %}
    {% for task in object_list %}
      {% if not task.is_completed %}
      <hr>
      <h4><strong>
        {{ task.content }}
        <span class="text-danger">Not Done</span>
        <form method="post" action="">
          {% csrf_token %}
          <button type="submit" class="btn btn-success float-right m-2" name="id" value="{{ task.id }}">Complete</button>
        </form>
      </strong>
      </h4>
      <p>Created: {{ task.created }}</p>
      <p>Tags:
        {% for tag in task.tags.all %}
          {{ tag.name }}
        {% endfor %}
        <a href="{% url "to_do_manager:task-update" pk=task.id %}">Update</a>
        <a href="{% url "to_do_manager:task-delete" pk=task.id %}">Delete</a>
      </p>
    {% endif %}
      {% endfor %}
      {% for task in object_list %}
        {% if task.is_completed %}
        <hr>
          <h4>{{ task.content }} <span class="text-success">Done</span></h4>
          <form method="post" action="">
              {% csrf_token %}
              <button type="submit" class="btn btn-secondary float-right m-2" name="id" value="{{ task.id }}">Undo</button>
            </form>
          <p>Created: {{ task.created }}</p>
          <p>Tags:
            {% for tag in task.tags.all %}
              {{ tag.name }}
            {% endfor %}
            <a href="{% url "to_do_manager:task-update" pk=task.id %}">Update</a>
            <a href="{% url "to_do_manager:task-delete" pk=task.id %}">Delete</a>
          </p>
        {% endif %}
         {% endfor %}
  {% else %}
    <p>There are no tasks</p>
  {% endif %}
{% endblock %}
